@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
<section class="container">
    <div class="row text-center">
        <div class="col">
            <h1>Mis trabajos</h1>
            <p>Vista de algunos de mis trabajos</p>
        </div>
        </div>
        <div class="container" style="padding-top:50px">
            <div class="row">
                <div class="col">
                    <img class="img-fluid" width="90" height="110" align="middle" src="~/Figmaimg/port1.jpg" /> <p></p>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top:50px">
            <div class="row">
                <div class="col">
                    <img class="img-fluid" width="90" height="110" align="middle" src="~/Figmaimg/Port2.jpg" /> <p></p>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top:50px">
            <div class="row">
                <div class="col">
                    <img class="img-fluid" width="90" height="110" align="middle" src="~/Figmaimg/port3.jpg" /> <p></p>
                </div>
            </div>
        </div>
</section>