
@{
        Layout = "~/Views/Shared/_LayoutCliente.cshtml"; 
}
<section class="container">
    <div class="row text-center p-3">
        <div class="col">
            <h1>Trabajos realizados</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <p>Vista de algunos de mis trabajos</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="img-fluid"
                 src="~/Figmaimg/port1.jpg" />
        </div>
        <div class="col">
            <img class="img-fluid"
                 src="~/Figmaimg/Port2.jpg" />
        </div>
        <div class="col">
            <img class="img-fluid"
                 src="~/Figmaimg/port3.jpg" />
        </div>
    </div>
</section>


