@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
<section>
    <div class="row text-center">
        <div class="col">
            <h1>Acerca de mí...</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Nombre: Joanna Abril Saucedo Ortiz.
            </p>
            <p>
                Fecha de nacimiento: 23/11/2001.
            </p>
            <p>
                Edad: 21.
            </p>
            <p>
                Lugar de nacimiento: Mexicali, Baja California, México.
            </p>
            <p>
                Hobbies: Escuchar música, tocar la guitarra, tocar el bajo, tocar el teclado, dibujar, tomar fotografías y editar fotografías.
            </p>
            <p>
                Carrera: Licenciatura en Informática.
            </p>
            <p>
                Lugar de estudio: UABC - Facultad de Ciencias Administrativas.
            </p>
            <p>
                Soy una persona introvertida y observadora en todo lo que me rodea.
                Me gusta disfrutar de la música, osbservar los paisajes del cielo
                y de la naturaleza, y capturarlo con el fin de compartir a las demás 
                personas lo que veo.
            </p>
            <p>
                Actualmente curso el séptimo semestre de la carrera de informática
                y mis objetivos son: ser una persona con libertad de vivir sin el
                control de otras personas, de viajar y ser una guitarrista reconocida
                junto con mi banda (Raíz Profunda).
            </p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <button type="button" class="btn btn-dark">Contáctame
            </button>
        </div>
    </div>
</section>

