@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
<div class="container" style="padding-top:50px">
    <div class="row">
        <div class="col">
            <img class="img-fluid" width="90" height="110" align="middle"
                 src="~/Figmaimg/mifoto1.jpg" /> <p></p>
        </div>
        <div class="container">
            <div class="col">
                <p style="color: darkorange; font:verdana; font-size:30px"> Hola, soy Abril Saucedo</p>
                <em> Música, fotógrafa y amante de la naturaleza</em>
                <p></p>
                <a class="btn btn-secondary"
                   href="@Url.Action("Index","Home")">Ver portafolio</a><p></p>
            </div>
        </div>
    </div>
</div>
