
@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
<section class="container">
    <div class="row text-center p-3">
        <div class="col">
            <h1>Mis trabajos</h1>
            <p>Vista de algunos de mis trabajos</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="img-fluid"
                 position:absolute;
                 width:320px;
                 height:454px;
                 left:112px;
                 top:209px;
                 Radius:10px;
                 src="~/Figmaimg/port1.jpg" />
        </div>
    </div>
        <div class="col">
            <img class="img-fluid"
                 position:absolute;
                 width:408;
                 height:293;
                 left:516px;
                 top:263px;
                 Radius:12px;
                 src="~/Figmaimg/Port2.jpg" />
        </div>
        <div class="col">
            <img class="img-fluid"
                 position:absolute;
                 width:319;
                 height:418;
                 left:1039px;
                 top:209px;
                 Radius:10px;
                 src="~/Figmaimg/port3.jpg" />
        </div>
</section>
