
@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
<section class="container" style="padding-top:20px;">
    <div class="row text-center p-3">
        <div class="col">
            <h3>Mis trabajos</h3>
            <p>Vista de algunos de mis trabajos</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="img-fluid"
                 position:absolute;
                 width:300px;
                 height:300px;
                 left:112px;
                 top:209px;
                 Radius:10px;
                 src="~/Figmaimg/port1.jpg" />
            <h5 align="center"> Atardecer en el Cerro Prieto </h5>
            <h6 align="center"> 26/07/2021 </h6>
        </div>
        <div class="col">
            <img class="img-fluid"
                 position:absolute;
                 width:300;
                 height:300;
                 left:516px;
                 top:263px;
                 Radius:12px;
                 src="~/Figmaimg/Port2.jpg" />
            <h5 align="center"> Pedido - Edición de fotografía en Photoshop </h5>
            <h6 align="center"> 24/07/2022 </h6>
        </div>
        <div class="col">
            <img class="img-fluid"
                 position:absolute;
                 width:300;
                 height:300;
                 left:300px;
                 top:200px;
                 Radius:10px;
                 src="~/Figmaimg/port3.jpg" />
            <h5 align="center"> Anochecer en UABC FCA Mexicali</h5>
            <h6 align="center"> 27/05/2022 </h6>
        </div>
        </div>
</section>
